<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>{{ contact.name }}</strong></h4>
    <div class="pull-left">
      <img *ngIf="contact.imageUrl !== ' '"
           [src]="contact.imageUrl"
           alt="{{ contact.name }}"
           class="img-responsive"
           style="max-height: 150px;" />
    </div>
    <div class="pull-right margin-top">
      <a routerLink="edit" class="btn btn-primary margin">Edit</a>
      <a (click)="onDelete()" class="btn btn-danger margin">Delete</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <p *ngIf="contact.email !== ' '"><strong>Email:</strong> {{ contact.email }}</p>
    <p *ngIf="contact.phone !== ' '"><strong>Phone:</strong> {{ contact.phone }}</p>
  </div>
</div>
