<div class="panel panel-default">
  <div class="panel-heading">
    <h4><strong>Contact Name</strong></h4>
    <div class="pull-left">
      <img src="assets/images/jacksonk.jpg"
           alt="image"
           class="img-responsive"
           style="max-height: 150px;" />
    </div>
    <div class="pull-right margin-top">
      <a class="btn btn-primary margin">Edit</a>
      <a class="btn btn-danger margin">Delete</a>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <p><strong>Email:</strong> contact-email</p>
    <p><strong>Phone:</strong> contact-phone</p>
  </div>
</div>
