<mat-spinner *ngIf="isLoading"></mat-spinner>

<form [formGroup]="form" (submit)="onSave()" *ngIf="!isLoading">

  <mat-card>
    <mat-form-field>
      <mat-label for="date">Date</mat-label>
      <input matInput
             formControlName="date"
             type="date" />
      <mat-error *ngIf="form.get('date').invalid">Date is required</mat-error>
    </mat-form-field>

    <br />

    <mat-form-field>
      <mat-label for="location">Location</mat-label>
      <input matInput
             formControlName="location"
             type="text" />
      <mat-error *ngIf="form.get('location').invalid">Location is required</mat-error>

    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-form-field class="textarea">
      <mat-label for="entry">Entry</mat-label>
      <textarea matInput
                formControlName="entry"
                rows="8"></textarea>
      <mat-error *ngIf="form.get('entry').invalid">Entry is required</mat-error>

    </mat-form-field>
  </mat-card>

  <mat-card>
    <div>
      <button mat-stroked-button
              type="button"
              (click)="file.click()">
        Add a Photo
      </button>
      <input type="file"
             name="photo"
             #file
             (change)="onImagePicked($event)" />
    </div>
    <div class="image-preview" *ngIf="imagePreview != '' && imagePreview">
      <img [src]="imagePreview" [alt]="form.value.title" />
    </div>

    <br />

    <button mat-raised-button
            color="primary"
            type="submit">
      Save
    </button>
  </mat-card>
</form>
